body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header-div {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
